
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

$accent-green: #40826D;

$background: rgb(28, 28, 30, 1);
$foreground: rgba(44, 44, 46, 1);

$text-foreground: rgba(255, 255, 255, 0.8);

$border-radius: 0.5rem;

body {
  color: rgba(255, 255, 255, 1);
  background-color: $background;
}

$colors: (
        "blue": rgb(10, 132, 255),
        "red": rgba(255, 69, 58),
        "green": #40826D,
        "orange": rgb(255, 159, 10),
);

@each $key, $color in $colors {
  .text-#{$key} {
    color: $color;
  }
}

@for $i from 0 to 10 {
  $loop-gap: $i * 0.1rem;
  .gap-#{$i} {
    gap: $loop-gap;
  }
}

@for $i from 0 to 5 {
  $loop-size: $i * 0.1rem + 0.5rem;
  .label-c#{$i} {
    font-size: $loop-size;
  }
  $loop-opacity: $i * 0.2;
  .label-o#{$i} {
    opacity: $loop-opacity;
  }
}

.overflow-ellipse {
  overflow: clip;
  text-overflow: ellipsis;
  width: calc(100% - 1rem);
}

// Scaffolding

.h-sep {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 1px;
  margin: 0.5rem 0;
}

.button {
  display: inline-block;
  border-radius: $border-radius - 0.125rem;
  color: $text-foreground;
  font-weight: 400;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.05);
  background-color: $foreground;
}

.card {
  min-width: 12rem;
  width: 100%;
  display: flex;
  border-radius: $border-radius;
  color: $text-foreground;
  font-weight: 400;
  padding: 1rem 1rem;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.05);
  background-color: $foreground;
}

.text-input {
  height: 2rem;
  display: flex;
  width: 100%;
  border-radius: $border-radius;
  color: $text-foreground;
  font-weight: 400;
  padding: 1rem 0.75rem;
  margin-top: 0.125rem;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.125);
  background-color: $background;

}

.small {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.4);

  margin: 0.125rem 0.375rem;
}

.text-accent {
  color: $accent-green;
}

.logo-icon {
  padding-right: 0.6rem;
  color: $accent-green;
}

label {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  margin: 0 0.375rem;
  font-size: 0.9rem;
}

.text-input:focus-visible {
  outline: none !important;
}

.button:hover {
  color: darken($text-foreground, 20%);
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.v-sep {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

/* keep right justified */
.clear_btn {
  float: right;
  color: #40826D;
  text-decoration: none;
}