
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}


$background: rgb(28, 28, 30, 1);
$foreground: rgba(44, 44, 46, 1);

$text-foreground: rgba(255, 255, 255, 0.8);

$border-radius: 0.5rem;

body {
  color: rgba(255, 255, 255, 1);
  background-color: $background;
}

$colors: (
        "blue": rgb(10, 132, 255),
        "red": rgba(255, 69, 58),
        "green": rgb(48, 209, 88),
        "orange": rgb(255, 159, 10),
);

@each $key, $color in $colors {
  .text-#{$key} {
    color: $color;
  }
}

// Scaffolding

.button {
  display: inline-block;
  border-radius: $border-radius;
  color: $text-foreground;
  font-weight: 400;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.05);
  background-color: $foreground;
}

.button:hover {
  color: darken($text-foreground, 20%);
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 960px;
}

.container > div {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.v-sep {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

/* keep right justified */
.clear_btn {
  float: right;
  color: rgb(108, 194, 2);
  text-decoration: none;
}